<%- include header %>
<p>
	<span><a href="/edit/<%= post.name%>/<%= post.time.day%>/<%=post.title%>" class="edit">Edit</a></span>
	<span><a href="/remove/<%= post.name%>/<%= post.time.day%>/<%=post.title%>" class="edit">Delete</a></span>
</p>

<p class="info">
Author: <a href="/u/<%= post.name %>"><%= post.name %></a> |
Date:	<%= post.time.minute%>
</p>
<p><%- post.post%></p>
<%- include footer %>